In [15]:
import pandas as pd

In [75]:
score_df = pd.DataFrame([[1,50,80,70], 
              [2,60,45,50],
              [3,98,43,55],
              [4,70,69,89],
              [5,56,79,60],
              [6,60,68,55],
              [7,45,70,77],
              [8,55,77,76],
              [9,25,57,60],
              [10,88,40,43]],columns=['student_id','math_score','english_score','chinese_score'])
score_df = score_df.set_index('student_id')
score_df

            math_score  english_score  chinese_score
student_id
1                   50             80             70
2                   60             45             50
3                   98             43             55
4                   70             69             89
5                   56             79             60
6                   60             68             55
7                   45             70             77
8                   55             77             76
9                   25             57             60
10                  88             40             43

In [79]:
#1.6號學生(student_id=6)3科平均分數為何?
score_df.mean(axis=1)[6]
#score_df.mean(axis=1)<- It can show all the students' mean score, then u add [n] can choose which student_id u want to know.

61.0

In [77]:
#2. 6號學生3科平均分數是否有贏過班上一半的同學
k=0
for i in range(len(score_df.mean(axis=1))):
    if(score_df.mean(axis=1)[6]>score_df.mean(axis=1)[i+1]):
        k=k+1
        print(score_df.mean(axis=1)[i+1])
    else:
        pass
if( k > 0.5*i ):
    print('6號學生3科平均分數有贏過班上一半的同學')
else:
    print('No')

51.666666666666664
47.333333333333336
57.0
No

In [78]:
#由於班上同學成績不好，所以學校統一加分，加分方式為開根號乘以十，請問6號同學3科成績分別是?
print('6號同學數學成績:',score_df.math_score.apply(lambda x:x**(0.5)*10)[6])
print('6號同學英文成績:',score_df.english_score.apply(lambda x:x**(0.5)*10)[6])
print('6號同學中文成績:',score_df.chinese_score.apply(lambda x:x**(0.5)*10)[6])

6號同學數學成績: 77.45966692414834
6號同學英文成績: 82.46211251235322
6號同學中文成績: 74.16198487095663

In [80]:
#承上題，加分後各科班平均變多少
score_df.mean().apply(lambda x:x**(0.5)*10)

math_score       77.910205
english_score    79.246451
chinese_score    79.686887
dtype: float64